.container {
	position: relative;
	text-align: center;
	
	.corpo {
		width: 60%;
		position: relative;
		margin: auto;

		.logo {
			height: 25%;
			position: relative;
			border-bottom: 1px solid #d3d3d3;
			padding-top: 40px;

			.scup-fale{
				color: #d3d3d3;
				font-size: 25px; 
				display: inline-block;
				position: relative;
    		}

			.scup-logo {
				position: relative;
			    z-index: 1;
			    display: inline-block;
			    width: 100px;
			    height: 40px;

			}
		}
		
		.comparador {
			position: relative;
			height: 45%;
			border-bottom: 1px solid #d3d3d3;

			.titulo {
				height: 40%;

				.texto-titulo {
					margin: 35px;
					font-size: 20px;
					color: #b3b3b3;
				}
			}

			label{
				display: block;
				font-size: 12px;
				color: #b3b3b3;
			}

			input {
				background-color: #666666;
				border: none;
				width: 65px;
				height: 35px;
				color: #b3b3b3;
				text-align: center;
				font-size: 15px;
			}

			i {
				position: absolute;
				margin-top: 8px;
				margin-left: 5px;
				font-size: 20px;
				color: #666666;
				cursor: pointer;

			}
		}
		
		.resultado {
			height: 30%;
			position: relative;

			.planos {
				border-right: 1px solid #d3d3d3;

				&:last-child {
						border-right: none;
					}

				span{
					display: block;					

					&.plano {
						font-size: 14px;
						color: #b3b3b3;
					}

					&.valor {
						font-size: 14px;
						color: #b3b3b3;
						display: inline-block;

						span[class^="valor-inteiro-"] {
							font-size: 25px;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}

.modal {
	.modal-content {
		.close {
			position: absolute;
			right: 3px;
			top: -2px;
		}

		.tabela-ddd {
			.linha-tabela {
				padding: 5px 10px;
				height: 30px;

				&:nth-child(odd) {
					background-color: #dddddd;
				}

				&:nth-child(even) {
					background-color: #f3f3f3;
				}

				.ddd-link {
					color: #b3b3b3;
				}
			}
		}	
	}
}